{% extends 'base.html.twig' %}

{% block body %}

    {{idSerie}}
 <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>TITRE : nb saison</h2>
        <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
    </div>
</div>
   {% for key in seasons|keys %}

   {% if key > ((key|length) // 2) %}
   
    
    <div class="row gy-4 row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="d-flex flex-column flex-lg-row">
                <div class="w-100"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" /></div>
                <div class="py-4 py-lg-0 px-lg-4">
                    <h4>titre</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Télécharger</button>
                </div>
            </div>
        </div>
        {{key}}
    </div>
    {% endif %}

    </br>
            
   {% endfor %}



{% endblock %}